//font color can be adjusted here...
//logo color
$logo-color: #310902;

//heading color
$headingColor: #141413;

//paragraph color
$paragraph-text-color:#363630;

//picture count text color
$backgroudColor: #FFFFFF;
$textColor: #363630;

// sub-heading font home page
$font-color:#59590D;

//front page text A HOME AWAY FROM HOME
$backgroudColor2:#000000;
$fontColor2:#FFFFFF;

//number change on slide image color
$numberBlack:#131301;
$numberChange2:#FFFFFF;
$imageMenuColor: #FFFFFF;

//footer colors
$textColor:#d4d4d4;
$textSubHeader:#969696;
$textHeader:#A8A8A8;
$footbgColor:#131301;

//three cup html pade slide backgroud color

$backgroudColorSlide: #370501;

// background-color and color for remarkable info page 
$backgroudColorInfo: #131301;
$fontColorInfo:#FFFFFF;

//background-color and other color for menus page

$backgroudMenu:#4A4A4A;
$colorMenu: #F7F7F7;

//color for modal pop-ups page
$modalFontColor: #262626;
$modalBackgroundColor: #FFFFFF;
$modalGrayBG:rgb(233, 233, 233);
$modalTransparent: #4c4c4cf7;


//coffee products page
$coffeeProductBG:#F3D79B;
$coffeeProductText:#161617;

//coffee product items

$backgroundItems:#525252 ;
$colorItems:#525252 ;

//items in cart 
$itemsInCartsBG: #161617;
$itemsForeColor:#FFFFFF;
